<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
    <strong>المورد</strong>
    <button
      class="btn btn-success" [cModalToggle]="modalXl1.id" (click)="resetForm()">
      اضافة
      <i class='bx bx-plus'></i>
    </button>
    <button class="btn btn-success" routerLink="/home">رجوع</button>
  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <c-row class="p-2">
    <c-col>
      <c-card-body>
        <form [formGroup]="SearchForm">
        <div class="row">
          <div class="col-4">
            <label>اسم المورد</label>
            <input aria-label="default input example"
            cFormControl
            type="text" formControlName="name">
          </div>
          <div class="col-4">
            <label>رقم الهاتف</label>
            <input aria-label="default input example"
            cFormControl
            type="text" formControlName="phonenumber">
          </div>
          <div class="col-2">
            <div>
              <button class="btn btn-success mt-4" (click)="Filter()">بحث</button>
            </div>
          </div>
          <!-- <div class="col-4">
            <label>من تاريخ</label>
            <input aria-label="default input example" cFormControl
                    type="date"/>

          </div>
          <div class="col-4">
            <label>الي تاريخ</label>
            <input aria-label="default input example" cFormControl
                    type="date" />

          </div> -->
        </div>
      </form>
      </c-card-body>
    </c-col>
  </c-row>
</c-card>
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">اسم المورد</th>
            <th scope="col"> العنوان</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td>{{supplier.clientName}}</td>
            <td>{{supplier.clientAddress}}</td>
            <td>{{supplier.clientPhone}}</td>
            <td>
              <button class="btn btn-light m-0 p-2" [cModalToggle]="modalXl1.id" (click)="getSupplierById(supplier.clientId)">
                <i class='bx bx-edit'></i>
              </button>
          </td>
          <td>
          <button  class="btn btn-light m-0 p-2" [cModalToggle]="modalXl2.id" >
            <i class='bx bx-trash'></i>
          </button>
        </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>



<c-modal #modalXl1 id="modalXl1" size="xl">
  <c-modal-header>
    <h5 cModalTitle>المورد</h5>
    <button class="mx-0" [cModalToggle]="modalXl1.id" cButtonClose></button>
  </c-modal-header>
  <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة مورد</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label> اسم المورد</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="name"
            />
          </div>
          <div class="col-6">
            <label> رقم الهاتف</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="phone"
            />
          </div>
          <div class="col-6">
            <label>العنوان</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="address"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="supplierForm.invalid"
        [cModalToggle]=""
        cModalClose
        (click)="onSubmit()"
      >
        حفظ
      </button>
    </div>
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        [cModalToggle]=""
        cModalClose
      >
        عودة
      </button>
    </div>
  </div>
  </c-modal-body>
</form>
</c-modal>



<c-modal #modalXl2 id="modalXl2" size="xl">
  <c-modal-header>
    <h5 cModalTitle>المورد</h5>
    <button class="mx-0" [cModalToggle]="modalXl2.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>هل أنت متأكد من حذف هذا المورد</h5>
      </div>
    </div>
    <div class="row">
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
      >
        نعم
      </button>
    </div>
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        [cModalToggle]=""
        cModalClose
      >
        عودة
      </button>
    </div>
  </div>
  </c-modal-body>
</c-modal>
