<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
    <strong>المادة</strong>
    <button
      class="btn btn-success" [cModalToggle]="modalXl1.id" (click)="resetForm()">
      اضافة
      <i class='bx bx-plus'></i>
    </button>
    <button class="btn btn-success" routerLink="/home">رجوع</button>
  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <c-row class="p-2">
    <c-col>
      <c-card-body>
        <form [formGroup]="SearchForm">
          <div class="row">
            <div class="col-3">
              <label>المادة</label>
              <input aria-label="default input example"
              cFormControl
              type="text" formControlName="itemname">
            </div>
            <div class="col-3">
              <label>رمز المادة</label>
              <input aria-label="default input example"
              cFormControl
              type="text" formControlName="itemno">
            </div>
            <div class="col-3">
              <label>تصنيف المادة</label>
              <ng-select [items]="rating" bindLabel="defaultDesc" bindValue="statusId"
              placeholder="اختر تصنيف الماده" formControlName="ItemCategoryID">
            </ng-select>
            </div>
            <div class="col-2">
              <div>
                <button class="btn btn-success mt-4" (click)="Filter()">بحث</button>
              </div>
            </div>
            <!-- <div class="col-4">
              <label>من تاريخ</label>
              <input aria-label="default input example" cFormControl
                      type="date"/>

            </div>
            <div class="col-4">
              <label>الي تاريخ</label>
              <input aria-label="default input example" cFormControl
                      type="date" />

            </div> -->
          </div>
      </form>
      </c-card-body>
    </c-col>
  </c-row>
</c-card>
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">المادة</th>
            <th scope="col">رمز المادة</th>
            <th scope="col">تصنيف المادة</th>
            <th scope="col">سعر المادة الافتراضي</th>
            <th scope="col">نوع الضريبة</th>
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materials">
            <td>{{material.itemName}}</td>
            <td>{{material.itemNo}}</td>
            <td>{{material.itemCategoryId}}</td>
            <td>{{material.singleItemCost}}</td>
            <td>{{material.taxTypeId}}</td>
            <td>
              <button class="btn btn-light m-0 p-2" [cModalToggle]="modalXl1.id" (click)="getMaterialById(material.itemId)">
                <i class='bx bx-edit'></i>
              </button>
          </td>
          <td>
          <button  class="btn btn-danger m-0 p-2" [cModalToggle]="modalXl2.id" (click)="getMaterialById(material.itemId)">
            <i class='bx bx-trash'></i>
          </button>
        </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>



<c-modal #modalXl1 id="modalXl1" size="xl">
  <c-modal-header>
    <h5 cModalTitle>المادة</h5>
    <button class="mx-0" [cModalToggle]="modalXl1.id" cButtonClose></button>
  </c-modal-header>
  <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>اضافة مادة</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <label>المادة</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="name"
            />
          </div>
          <div class="col-4">
            <label>سعر المادة الافتراضي</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="price"
            />
          </div>
          <div class="col-4">
            <label>اقل كميه ممكنه</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="minItemAmount"
            />
          </div>
          <div class="col-4">
            <label>التصنيف</label>
            <!-- formControlName="itemCategoryId" -->
            <ng-select [items]="rating" bindLabel="defaultDesc" bindValue="statusId"
              placeholder="اختر التصنيف " formControlName="itemCategoryID">
            </ng-select>
          </div>
          <div class="col-4">
            <label>الضريبة</label>
            <ng-select [items]="tax" bindLabel="defaultDesc" bindValue="statusId"
              placeholder="اختر الضريبة " formControlName="tax" >
            </ng-select>
          </div>
          <div class="col-4">
            <label>المنشا</label>
            <ng-select [items]="origin" bindLabel="defaultDesc" bindValue="statusId"
              placeholder="اختر المنشا " formControlName="country_id">
            </ng-select>
          </div>
          <div class="col-4">
            <label>الوحدة</label>
            <ng-select [items]="units" bindLabel="defaultDesc" bindValue="statusId"
              placeholder="اختر الوحدة " formControlName="unit_id" >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        type="submit"
        [cModalToggle]=""
        cModalClose
        (click)="onSubmit()"
      >
        حفظ
      </button>
    </div>
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        [cModalToggle]=""
        cModalClose

      >
        عودة
      </button>
    </div>
  </div>
  </c-modal-body>
</form>
</c-modal>


<c-modal #modalXl2 id="modalXl2" size="xl">
  <c-modal-header>
    <h5 cModalTitle>المورد</h5>
    <button class="mx-0" [cModalToggle]="modalXl2.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>هل أنت متأكد من حذف هذا المورد</h5>
      </div>
    </div>
    <div class="row">
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        (click)="deleteMaterial()"
        [cModalToggle]=""
        cModalClose
      >
        نعم
      </button>
    </div>
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        [cModalToggle]=""
        cModalClose
      >
        عودة
      </button>
    </div>
  </div>
  </c-modal-body>
</c-modal>
