<c-card class="mb-4">
  <c-card-header class="d-flex justify-content-between align-items-center py-4">
    <strong>فاتورة مشتريات</strong>
    <button
      class="btn btn-success" [cModalToggle]="modalXl1.id" (click)="resetForm()">
      اضافة
      <i class='bx bx-plus'></i>
    </button>
    <button class="btn btn-success" routerLink="/home">رجوع</button>
  </c-card-header>
</c-card>
<c-card class="mb-4 py-4">
  <c-row class="p-2">
    <c-col>
      <c-card-body>
        <form [formGroup]="SearchForm">
        <div class="row">
          <div class="col-3">
            <label>اسم المورد</label>
            <ng-select [items]="suppliers"
                       bindLabel="clientName"
                       bindValue="clientId"
                       placeholder="اختر اسم المورد"
                       formControlName="itemname"
                       >
            </ng-select>
          </div>
          <div class="col-3">
            <label>من تاريخ</label>
            <!-- formControlName="startDate" -->
            <input aria-label="default input example" cFormControl
                    type="date" formControlName="from" />

          </div>
          <div class="col-3">
            <label>الي تاريخ</label>
            <!-- formControlName="endDate" -->
            <input aria-label="default input example" cFormControl
                    type="date" formControlName="to" />

          </div>
          <div class="col-2">
            <div>
              <button class="btn btn-success mt-4" (click)="Filter()">بحث</button>
            </div>
          </div>
        </div>
      </form>
      </c-card-body>
    </c-col>
  </c-row>
</c-card>
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <table [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">رقم الفاتوره</th>
            <th scope="col">اسم المورد</th>
            <th scope="col">تاريخ الفاتوره</th>
            <th scope="col">المجموع الكلي</th>
            <th scope="col">تعديل</th>
            <th scope="col">حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let warehouse of warehouses">
            <td>{{warehouse.inv_number}}</td>
            <td>{{warehouse.subname}}</td>
            <td>{{warehouse.inv_date | date}}</td>
            <td>{{warehouse.totalamount}}</td>
            <td>
              <button class="btn btn-light m-0 p-2" [cModalToggle]="modalXl1.id" (click)="getSupplierById(warehouse.id)">
                <i class='bx bx-edit'></i>
              </button>
          </td>
          <td>
          <button  class="btn btn-danger m-0 p-2" (click)="deleteWarehouses(warehouse.id)">
            <i class='bx bx-trash'></i>
          </button>
        </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>



<c-modal #modalXl1 id="modalXl1" size="xl">
  <c-modal-header>
    <h5 cModalTitle> فاتورة مشتريات</h5>
    <button class="mx-0" [cModalToggle]="modalXl1.id" cButtonClose></button>
  </c-modal-header>
  <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
  <c-modal-body>
    <div class="card">
      <div class="card-header">
        <h5>   فاتورة مشتريات</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label> رقم الفاتوره</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
              formControlName="invoiceNumber"
            />
          </div>
          <div class="col-6">
            <label> تاريخ الفاتوره</label>
            <input
              aria-label="default input example"
              cFormControl
              type="date"
              formControlName="invoiceDate"
            />
          </div>
          <div class="col-6">
            <label> اسم المورد</label>
            <ng-select [items]="suppliers" bindLabel="clientName" bindValue="clientId"
              placeholder="اختر اسم المورد" formControlName="supplierName">
            </ng-select>
          </div>
          <div class="col-6">
            <label> ملاحظة</label>
            <input
              aria-label="default input example"
              cFormControl
              type="text"
               formControlName="note"
            />
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="addItemForm">
    <c-col class="mx-2 my-4">
      <div class="card">
        <div class="card-header m-0 d-flex justify-content-between">
          <h5>اضافة مادة</h5>
          <button class="btn btn-success" [disabled]="addItemForm.invalid"  (click)="isEditMode ? updateItem() : addItem()">
            اضافة
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                 viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
          </button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label> الماده</label>
              <ng-select [items]="materials" bindLabel="itemName" bindValue="itemId"
              placeholder="اختر الماده" formControlName="material">
            </ng-select>
            </div>
            <div class="col-4">
              <label> العدد</label>
              <input
                aria-label="default input example"
                cFormControl
                type="text"
                formControlName="quantity"
              />
            </div>
            <div class="col-4">
              <label> السعر</label>
              <input
                aria-label="default input example"
                cFormControl
                type="text"
                formControlName="price"
              />
            </div>
            <div class="col-4">
              <label> الضريبة</label>
              <input
                aria-label="default input example"
                cFormControl
                type="text"
                formControlName="tax"
              />
            </div>
            <div class="col-4">
              <label> البونص</label>
              <input
                aria-label="default input example"
                cFormControl
                type="text"
                formControlName="bonus"
              />
            </div>
            <div class="col-4">
              <label> الخصم</label>
              <input
                aria-label="default input example"
                cFormControl
                type="text"
                formControlName="discount"
              />
            </div>
           </div>

          <div class="row mt-2" *ngIf="tableVisible">
            <div class="col-12">
                <table class="w-100">
                  <table [striped]="true" cTable>
                    <thead>
                    <tr>
                      <th scope="col">الماده</th>
                      <th scope="col">العدد</th>
                      <th scope="col">السعر</th>
                      <th scope="col">الضريبة</th>
                      <th scope="col">البونص</th>
                      <th scope="col">تعديل</th>
                      <th>حذف</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of itemsList">
                        <td>{{ item.material}}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.tax }}</td>
                        <td>{{ item.bonus }}</td>

                        <td>
                          <button cButton class="btn btn-light m-0 p-2" (click)="editItem(item)">
                            <svg cIcon name="cil-pencil"></svg>
                          </button>
                        </td>
                        <td>
                          <button cButton class="btn btn-danger m-0 p-2" (click)="removeItem(item)">
                            <svg cIcon name="cil-trash"></svg>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </table>
            </div>
        </div>


        </div>
      </div>
    </c-col>
    </form>
    <div class="row">
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        type="submit"
        [cModalToggle]=""
        cModalClose
        (click)="onSubmit()"
      >
        حفظ
      </button>
    </div>
    <div class="col-6 text-center mt-4">
      <button
        class="btn btn-success"
        [cModalToggle]=""
        cModalClose
      >
        عودة
      </button>
    </div>
  </div>
  </c-modal-body>
</form>
</c-modal>
